@import "tailwindcss";
@plugin "daisyui" {
  themes: beer;
}

[data-theme="beer"] {
  --color-primary: #10fc8a;
  --color-secondary: #2f281e;
  --color-accent: #eca054;
  --color-neutral: #162240;
  --color-base-100: #F8F8F9;
}
