{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="p-3 font-montserrat">
    <h3 class="font-castoro text-2xl py-2">🍺 Bières à découvrir</h3>
    {% if unrated_beers %}
        <div class="beer-list">
            {% for beer in unrated_beers %}
            <div class="flex items-center justify-between bg-base-200 p-3 mb-3 rounded shadow-sm border">
                <div>
                    <strong>{{ beer.name }}</strong> 
                    <span class="italic">({{ beer.brewery_id.name }})</span>
                    <br>
                    <small>{{ beer.description|truncatechars:80 }}</small>
                </div>
                <button class="btn bg-primary rounded-lg p-2 px-4 text-black" onclick="modal{{beer.id}}.showModal()">Noter</button>
                <dialog id="modal{{beer.id}}" class="modal">
                    <div class="modal-box">
                        <form method="post" action="{% url 'rate_beer' beer.id %}">

                        {% csrf_token %}

                        <div class="pt-1">
                            <label>{{ rating_form.date.label }}</label>
                            {{ rating_form.date }}
                        </div>
                        <div class="pt-3">
                            <label>{{ rating_form.note.label }}</label>
                            {{ rating_form.note }}
                        </div>
                        <div class="pt-3">
                            <label>{{ rating_form.comment.label }}</label>
                            {{ rating_form.comment }}
                        </div>

                        <button type="submit" class="btn bg-primary hover:bg-primary/70 transition duration-500 w-full rounded-lg p-2">
                        Enregistrer mon avis
                        </button>
                        </form>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>

            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Incroyable ! Vous avez noté toutes les bières de notre stock ! 👏</p>
    {% endif %}
</div>
{% endif %}

<div class="pt-3 pb-5 font-montserrat">
    <h3 class="font-castoro text-2xl">🏆 Top 10 (ce mois)</h3>
    {% if not topMonth %} <p>Pas encore de note pour ce mois.</p> {% endif %}
    <ol>
        {% for beer in topMonth %}
        <li>
            <strong>{{ beer.name }}</strong> ({{ beer.brewery_id.name }}) 
            - ⭐ {{ beer.avg_rating|floatformat:1 }} 
            <small>({{ beer.count_rating }} votes)</small>
        </li>
    {% endfor %}
    </ol>
</div>

<div class="rank-list">
    <h3 class="font-castoro text-2xl">👑 Top 10 (Global)</h3>
    {% if not top %} <p>Pas encore de note.</p> {% endif %}
    <ol>
        {% for beer in top %}
        <li>
            <strong>{{ beer.name }}</strong> ({{ beer.brewery_id.name }}) 
            - ⭐ {{ beer.avg_rating|floatformat:1 }} 
            <small>({{ beer.count_rating }} votes)</small>
        </li>
    {% endfor %}
    </ol>
</div>

{% endblock %}