name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # Permet de lancer l'action manuellement depuis l'onglet Actions
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # Activez si vous avez des gros fichiers

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://Flow-Millot:$HF_TOKEN@huggingface.co/spaces/Flow-Millot/pokebeer main